<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true"
         cacheDirectory=".phpunit.cache"
         executionOrder="depends,defects"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutTodoAnnotatedTests="true"
         failOnRisky="true"
         failOnWarning="true">
    <testsuites>
        <testsuite name="Unit">
            <directory suffix=".php">./tests/</directory>
        </testsuite>
    </testsuites>
    <coverage>
        <include>
            <directory suffix=".php">./includes/</directory>
            <directory suffix=".php">./admin/</directory>
        </include>
        <exclude>
            <directory>./tests/</directory>
        </exclude>
    </coverage>
    <php>
        <env name="WP_PLUGIN_DIR" value="/tmp/wordpress/wp-content/plugins"/>
        <env name="WP_CONTENT_DIR" value="/tmp/wordpress/wp-content"/>
        <const name="ABSPATH" value="/tmp/wordpress/"/>
        <const name="PIA_PLUGIN_FILE" value="/tmp/wordpress/wp-content/plugins/wp-plugin-impact-analyzer/plugin-impact-analyzer.php"/>
        <const name="PIA_PLUGIN_DIR" value="/tmp/wordpress/wp-content/plugins/wp-plugin-impact-analyzer/"/>
        <const name="PIA_TEMP_MU_PLUGIN" value="/tmp/wordpress/wp-content/mu-plugins/pia-temp-disable.php"/>
        <const name="PIA_SCAN_LOCK_KEY" value="pia_scan_lock"/>
        <const name="PIA_RESULTS_OPTION" value="pia_last_scan"/>
        <const name="PIA_MAX_TEST_PLUGINS" value="6"/>
    </php>
</phpunit>
